services:
  spirit-healthcare:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spirit-healthcare
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
    restart: unless-stopped
